@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
/*utility clases*/
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  border-radius: 5rem;
  padding: 1em 1.5em;
  margin-top: 1rem;
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background: #16a083;
}

/* for desktop*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 999;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.menu-items {
  order: 2;
  display: flex;
  font-size: 1.8rem;
  margin-left: 1.5rem;
}
.menu-items li {
  font-size: 1.8rem;
  margin-left: 1.5rem;
  list-style: none;
}
.logo {
  order: 1;
  font-size: 3rem;
}

.navbar a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.navbar a:hover {
  color: #117964;
}
/* showcase styling*/
.showcase-area {
  background: linear-gradient(
      rgba(240, 240, 240, 0.36),
      rgba(255, 255, 255, 0.36)
    ),
    url("img/head.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}
.showcase-container h1 {
  text-transform: uppercase;
}
/* about design*/
#about {
  padding: 5px 0px;
  background: #f5f5f7;
}
#about h1 {
  font-size: 3.2;
}
#about p {
  font-size: 1.6;
  color: #555;
}
#about .small {
  font-size: 1.6;
  color: #666;
  font-weight: 600;
}
.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}
.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translateX(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}
.about-img img {
  display: block;
  height: 350px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  /*align-items: center;
  justify-content: space-between;*/
}
/* food container*/
#food {
  padding: 5rem 0 2rem 0;
}
#food h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #555;
  font-weight: 400;
  margin-bottom: 40px;
}
.food-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-container img {
  display: block;

  margin: auto;
  max-height: 300px;
  object-fit: cover;
}
.img-container {
  margin: 0 1rem;
  position: relative;
}
.pasta-img {
  height: 200px;
  width: 300px;
}
.pizza-img {
  height: 200px;
  width: 300px;
}
.burger-img {
  height: 200px;
  width: 300px;
}
.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3 {
  color: #fff;
  font-size: 3rem;
}
.img-content a {
  font-size: 1.2rem;
}
.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}
/* testimonials*/
#testimonials {
  padding: 5rem 0rem;
  background: rgb(243, 243, 243);
}
.testimonial-title {
  text-align: center;
  color: #555;
  font-size: 3rem;
  font-weight: 400;
}
.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 1rem;
}
.testimonial-box .checked {
  color: #ff9529;
}
.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: #444;
}
.testimonial-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}
/* contact*/
#contact {
  padding: 5rem 0;
  background: rgb(226, 226, 226);
}
.contact-container {
  display: flex;
  background: #fff;
}
.contact-image {
  width: 50%;
}
.contact-image img {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.form-container {
  padding: 1rem;
  margin: auto;
  width: 50%;
}
.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  outline: none;
  box-shadow: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}
.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
}
.form-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 1rem;
}
.form-container a {
  font-size: 1.2rem;
}
#footer h2 {
  background: rgb(65, 65, 65);
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}
/* media queries*/
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }
  .navbar .menu-items {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: translateX(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: translateX(-45deg);
  }
  /*food catagory*/
  .food-container {
    flex-direction: column;
    align-items: stretch;
  }
  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }
  .food-type {
    box-shadow: 5px 5px 10px 0px #aaa;
  }
  .img-container {
    margin: 0;
  }
}
.payment {
  width: 500px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.payTitle {
  font-size: 20px;
  color: gray;
}
label {
  font-size: 14px;
  font-weight: 300;
}
.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #000;
}
.payInput::placeholder {
  color: rgb(163, 163, 163);
}
.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}
.sm {
  width: 30%;
}
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  background-color: #369e62;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.close {
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #369e62;
  cursor: pointer;
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-image {
    width: 90%;
    margin: 3rem auto;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
